<%- include('header.ejs') %>
<body>
  <div class="not-found-container">
    <div class="animated-404">
      <span>4</span>
      <span>0</span>
      <span>4</span>
    </div>
    <h1>Oops! The page you&apos;re looking for doesn&apos;t exist.</h1>
    <p>We couldn&apos;t find the page you were looking for.</p>
    <div class="search">
      <button 
      class="go-back"
      onclick="window.location.href = '/'"
      >
      Go Back Home
    </button>
    </div>
  </div>
  <%- include('footer.ejs') %>
</body>
