<footer>
    <div class="copyright-box">
        <p class="copyright">Copyright &copy; <strong>Sujoy De</strong>. All Rights Reserved</p>
        <div class="credits">
            Source <a href="https://github.com/desujoy/desujoy.github.io/" target="_blank">GitHub</a>
        </div>
    </div>
</footer>

</html>