<footer <% if (data==null) { %> class="fixed-bottom" <% } %>>
    <div class="footer-content">
        <div class="social-icons">
            <a href="#" target="_blank">
                <img src="/assets/github.png" alt="GitHub" />
            </a>
            <a href="#" target="_blank">
                <img src="/assets/twitter.png" alt="Twitter" />
            </a>
            <a href="" target="_blank">
                <img src="/assets/linkedin.png" alt="LinkedIn" />
            </a>
        </div>
        <div class="copyright-box">
            Copyright &copy; <strong>Sujoy De</strong> <span id="year"></span>. All Rights Reserved<br>
            Source <a href="https://github.com/desujoy/kushiro/" target="_blank">GitHub</a>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>
<script>
  document.getElementById('year').textContent = new Date().getFullYear();
</script>
</html>
