<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kushiro</title>
    <style>
        *{
            box-sizing:border-box;
            }
            
            body{
                margin:0;
            }
            img{
                max-width:100%;
             height:auto;
                display:block;
             
            }
            .anime-content{
                max-width:600px;
                margin:0 auto;
                display:grid;
                grid-gap:1em;
            }
            .anime-info{
                display:grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap:1rem;
            }
            
            .anime-cover{
                grid-column:1 / span 2;
            }
            .anime-details{
                grid-column:3 /  span 3;
            }
            
    </style>
</head>
<body>
    