<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/assets/favicon16.png" sizes="16x16" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kushiro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Protest+Strike&family=Qwitcher+Grypen&family=VT323&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery/moreless.js"></script>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/assets/Kushiro.png" alt="Kushiro Logo" />
        <h5 class="logo-text">Kushiro</h5>
      </div>
      <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="nav-links" id="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/contributers">Contributers</a></li>
      </ul>
    </nav>
  </body>
</html>
