<%- include("header.ejs") %>

<div>
    <h1>Enter Your MyAnimeList Profile:</h1>
    <form action="/search" method="post">
        <input type="text" name="mal" placeholder="MyAnimeList Profile" required> 
        <button type="submit">Search</button>
    </form>
</div>
<% if(data!=null) {%>
    <h1>Random Anime from Your Plan To Watch List:</h1>
    <% for (var i = 0; i < data.length; i++) { %>
        <div>
            <h3><%= data[i].title %></h3>
            <img src="<%= data[i].poster %>" height="400px" >
        </div>
    <% } %>
<% } %>

<%- include("footer.ejs") %>