<%- include("header.ejs") %>
<body>
<%- include("userform.ejs") %>
<% if(err!=null) { %>
<% if(err.status===403){ %>
  <h1 style="color: red;">Error: animelist not public</h1>
<% } %>
</div>
<% if(err.status===404){ %>
  <h1 style="color: red;">Error: username not found or invalid username</h1>
<% } %>
</div>
<% if(err.status>=500){ %>
  <h1 style="color: red;">Error: myanimelist server is down</h1>
<% } %>
</div>
<% if(err.status==null){ %>
  <h1 style="color: red;">Error: this server is down</h1>
  <h1 style="color: red;">Check if this server has proper internet connection</h1>
<% } %>
<% } %>
<%- include("footer.ejs") %>
</body>