body {
  font-family: "Lobster", cursive;
  margin: 0;
  padding: 0;
  background: #eff1f5;
}

.wrap {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border: 5px solid #2e51a2;
  border-radius: 12%;
}

.searchTerm {
  width: 80%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #657789;
}

.searchButton {
  width: 20%;
  height: 47.5px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  background: #2e51a2;
  text-align: center;
  cursor: pointer;
}

.searchButton svg {
  vertical-align: middle;
}

.searchButton svg circle {
  fill: #2e51a2;
}

.anime-content {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "VT323", monospace;
  font-size: 20px;
}

.anime-info {
  display: flex;
  align-items: center;
}

.anime-cover img {
  max-width: 300px;
  height: auto;
  margin-right: 10px;
}

.anime-details {
  flex: 1;
  padding-left: 100px;
  margin-right: 100px;
}

.anime-details strong {
  display: block;
  margin-bottom: 5px;
  padding-top: 4px;
}

@media screen and (max-width: 900px) {
  .anime-info {
    flex-direction: column;
  }

  .anime-details {
    padding-left: 5%;
    margin-right: 5%;
  }

  .anime-details strong {
    display: inline-block;
  }
}

.error-message {
  color: red;
}

.copyright-box {
  font-family: cursive;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}

.fixed-bottom {  
  font-family: cursive;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
